@import 'tailwindcss';

:root {
  --background: #fff8e8;
  --foreground: #4a3a30;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-satoshi);
  --font-satoshi: var(--font-satoshi);
  --font-didone: var(--font-didone);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

html {
  scrollbar-width: none;
  font-size: 1.12vw;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
